---
import Layout from "../../layouts/Layout.astro";
import { UserProfile } from "../../components/profile/ProfileManager";
---

<Layout title="Mi Perfil">
  <div class="mx-auto max-w-7xl px-4 py-8">
    <UserProfile client:only="react" />
  </div>
</Layout>
