---
import Layout from "../../layouts/Layout.astro";
import { Navbar } from "../../components/layout/Navbar";
import { Footer } from "../../components/layout/Footer";
import PaymentFlow from "../../components/payment/PaymentFlow";
---

<Layout title="Método de Pago - FoodApp">
  <div class="flex min-h-screen flex-col bg-background">
    <Navbar client:load />
    <main class="flex-1 flex items-center justify-center">
      <PaymentFlow client:load />
    </main>
    <Footer />
  </div>
</Layout>
