---
import Layout from "../../layouts/Layout.astro";
import { Navbar } from "../../components/layout/Navbar";
import { Footer } from "../../components/layout/Footer";
import CardPaymentForm from "../../components/payment/CardPaymentForm";
---

<Layout title="Pago con Tarjeta - FoodApp">
  <div class="flex min-h-screen flex-col bg-background">
    <Navbar client:load />
    <main class="flex-1">
      <CardPaymentForm client:load />
    </main>
    <Footer />
  </div>
</Layout>
