---
// Importas tus componentes visuales
import { Navbar } from "../components/layout/Navbar";
import { Footer } from "../components/layout/Footer";
import { ToastContainer } from "../components/custom/Toast";
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="es">
  <head>
    <ClientRouter />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} | Staff FoodApp</title>

    <script is:inline>
      function applyTheme() {
        try {
          const storedTheme = localStorage.getItem("theme");
          const systemTheme = window.matchMedia(
            "(prefers-color-scheme: dark)",
          ).matches;
          if (
            storedTheme === "dark" ||
            (!storedTheme && systemTheme) ||
            (storedTheme === "system" && systemTheme)
          ) {
            document.documentElement.classList.add("dark");
          } else {
            document.documentElement.classList.remove("dark");
          }
        } catch (e) {
          console.error(e);
        }
      }

      applyTheme();
      document.addEventListener("astro:after-swap", applyTheme);
      document.addEventListener("astro:page-load", applyTheme);
    </script>
  </head>
  <body
    class="bg-background text-foreground antialiased flex flex-col min-h-screen"
  >
    <Navbar client:load client:only="react" currentPath={currentPath} />

    <main class="flex-1">
      <slot />
    </main>
    <Footer />

    <ToastContainer client:load client:only="react" />
  </body>
</html>
