---
import Layout from "../../../../../layouts/Layout.astro";
import { ProductDetailPage } from "../../../../../components/restaurant/ProductDetailPage";

export const prerender = false;

const { id, productId } = Astro.params;
---

<Layout title="Detalle del Producto">
  <div class="flex min-h-screen flex-col bg-background">
    <main class="flex-1">
      <ProductDetailPage
        restaurantId={String(id)}
        productId={String(productId)}
        client:load
      />
    </main>
  </div>
</Layout>
