---
import Layout from "../../../../../layouts/Layout.astro";
import ProductDetailPage from "../../../../../components/restaurant/ProductDetailPage";

export const prerender = false;

const { id, productId } = Astro.params;
---

<Layout title="Detalle del producto - FoodApp">
  <main class="flex-1 bg-background">
    <ProductDetailPage
      restaurantId={id!}
      productId={productId!}
      client:only="react"
    />
  </main>
</Layout>
