---
import Layout from "../../../layouts/Layout.astro";
import RestaurantReviewPage from "../../../components/restaurant/RestaurantReviewPage";

export const prerender = false;

const { id } = Astro.params;
---

<Layout title="Reseñas - FoodApp">
  <main class="flex-1">
    <section class="py-8">
      <div class="mx-auto max-w-3xl px-4">
        <RestaurantReviewPage restaurantId={id!} client:only="react" />
      </div>
    </section>
  </main>
</Layout>
